body h1 {
    font-family: Arial, Helvetica, sans-serif;
    border-color: #1C0BFB;
    color: #3B0DF5;
}
body {
    background-image: url(240_F_911907457_VWuZim5bOb8WrrdLb3mvY6zUrLtai90i.jpg);
	
}
.key2 {
    font-family: "Courier New", Courier, monospace;
    font-style: italic;
    color: #F80409;
    font-weight: bolder;
}
